<div class="hero-unit">
  <%= link_to("<< Powrót do galerii", {:controller => 'galeries', :action => 'index'}, :class => 'btn btn-xs btn-default') %>

  <h1>Zdjęcia</h1>
  <%= link_to("Dodaj nowe zdjęcie", {:action => 'nowe', :galeria_id => @galeriaID.id}, :class => 'btn btn-mini btn-primary')%>

  <p style="text-align: right">Ilość galerii: <%= @zdjecia.size %></p>

  <table class="table table-striped">
    <tr class="info">
      <th>Nazwa</th>
      <th>Pozycja</th>
      <th>Zdjęcie</th>
      <th>Opis</th>
      <th>Widoczne</th>
      <th>Akcja</th>
    </tr>
    <% @zdjecia.each do |zdjecie| %>
        <tr>
          <td><%= zdjecie.nazwa %></td>
          <td><%= zdjecie.pozycja %></td>
          <td><%= image_tag zdjecie.zdjecie.url(:thumb) %></td>
          <td><%= truncate(zdjecie.opis, :length => 120, :omission => "[...]") %></td>
          <td class="center"><%= status_widoku(zdjecie.widoczne) %></td>
          <td class="actions">
            <%= link_to("Pokaż", {:action => 'pokaz', :id => zdjecie.id, :galeria_id => @galeriaID.id}, :class => 'btn btn-xs btn-default') %>
            <%= link_to("Edycja", {:action => 'edycja', :id => zdjecie.id, :galeria_id => @galeriaID.id}, :class => 'btn btn-xs btn-primary') %>
            <%= link_to("Usuń", {:action => 'usun', :id => zdjecie.id, :galeria_id => @galeriaID.id}, :class => 'btn btn-xs btn-danger') %>
          </td>
        </tr>

    <%end%>

  </table>
</div>
